<div class="d-flex justify-content-center align-items-center vh-50" style="flex-direction: column; text-align: center; margin-bottom: 40px;">
  <h1>Introduction to Angular</h1>
  <p style="white-space: pre-line; font-size: 1.2rem;">
    Hello <strong>{{name}}</strong>, Nice to meet you
  </p>
</div>

<table class="table table-bordered w-50 mx-auto">
  <caption class="caption-top fw-bold bg-primary text-light text-center">
    Person Details
  </caption>
  <tr>
    <td class="fw-semibold text-end">First Name</td>
    <td class="ps-2">{{ person.givenName }}</td>
  </tr>
  <tr>
    <td class="fw-semibold text-end">Last Name</td>
    <td class="ps-2">{{ person.surName }}</td>
  </tr>
  <tr>
    <td class="fw-semibold text-end">Age</td>
    <td class="ps-2">{{ person.age }}</td>
  </tr>
  <tr>
    <td class="fw-semibold text-end">Email</td>
    <td class="ps-2">{{ person.email }}</td>
  </tr>
</table>
